{% extends "layout.html" %}
{% from "macros/feed.html" import posts_feed with context %}
{% from "macros/subscribe_button.html" import subscribe_button with context %}

{% block body %}
<h1>
  {{ user.name }}
  <div class="float-right">
    {% set is_subscriber = current_user.id in user.wall.subscribers|map(attribute="owner_id")|list %}
    {{ subscribe_button(user, current_user, is_subscriber, redir='user_wall', redir_id=user.id) }}
  </div>
</h1>

<ul class="list-group list-group-horizontal mb-2">
  <li class="list-group-item flex-fill text-center">
    Subscribers
    <hr class="mt-0">
    {{ subscriber_count }}
  </li>
  <li class="list-group-item flex-fill text-center">
    Following
    <hr class="mt-0">
    {{ subscription_count }}
  </li>
  <li class="list-group-item flex-fill text-center">
    Posts
    <hr class="mt-0">
    {{ post_count }}
  </li>
  <li class="list-group-item flex-fill text-center">
    Comments
    <hr class="mt-0">
    {{ comment_count }}
  </li>
</ul>

<div class="card mb-2">
  <form method="POST" action="{{ url_for('user_wall', id=user.id) }}" novalidate>
    <div class="form-group mb-0">
      <label class="form-label card-header" style="width: 100%" for="newContent">
        <h5>Write on this wall
          <button type="submit" class="btn btn-primary float-sm-right">Create Post</button>
        </h5>
      </label>
      <div class="card-body p-0">
        <textarea class="form-control" name="content" id="newContent"
          placeholder="{{ 'How\'s your day?' if user.id == current_user.id else 'Say \'Hi!\' to ' + user.name + '!' }}"
          rows="3" aria-describedby="newContentHelp" required></textarea>
        <small id="newContentHelp" class="form-text text-muted sr-only">
          Contents of your post. e.g. How was your day?
        </small>
      </div>
      {% if form.content.errors %}
      <div class="alert alert-danger mb-0 py-1" role="alert">
        {% for error in form.content.errors %}
        {{ error }}<br />
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </form>
</div>

<h2>Posts</h2>
{{ posts_feed(posts, redir='user_wall', redir_id=user.id, back='user_wall', back_id=user.id) }}
<div>
  {% if posts|count == limit %}
  {% set last = posts|last %}
  <a class="overlay text-white text-center" href="{{ url_for('user_wall', id=user.id, older_than=last.date_created ) }}">
    Load more
  </a>
  <div class="text-center">
    <hr>
    <span class="text-muted">Load more</span>
    <hr>
  </div>
  {% else %}
  <a class="overlay text-white text-center" href="{{ url_for('user_wall', id=user.id) }}">
    Back to top
  </a>
  <div class="text-center">
    <hr>
    <span class="text-muted">No more posts :c</span>
    <hr>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
  var sizeTheOverlays = function () {
    $(".overlay").resize().each(function () {
      var h = $(this).parent().outerHeight();
      var w = $(this).parent().outerWidth();
      $(this).css("height", h);
      $(this).css("width", w);
    });
  };

  sizeTheOverlays();

  var width = $(window).width();
  $(window).resize(function () {
    if ($(this).width() != width) {
      width = $(this).width();
      sizeTheOverlays();
    }
  });

  function backToTop() {
    document.body.scrollTop = 0
    document.documentElement.scrollTop = 0
  }

  // Trim all textareas
  $("textarea").each(function () { $(this).val($(this).val().trim()); });
</script>
{% endblock %}