{% extends "layout.html" %}

{% block body %}
<div class="card">
    <h3 class="card-header">
        Oops! Something went wrong!
    </h3>
    <div class="card-body">
        Something went wrong. If you think this is a bug in the application, please open an issue at our
        <a href=http://github.com/Kailari/tsoha-19/issues>issue-tracker</a> and let us know!
    </div>
    <div class="card-body">
        <h5>Description of the error:</h5>
        {{ error }}
    </div>
</div>
{% endblock %}