{% extends "layout.html" %}

{% block body %}
{{ error }}
<table>
  <tr>
    <th>Date</th>
    <th>Modified</th>
    <th>Posted by</th>
    <th>Content</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{ post.date_created }}</td>
    <td title="{{ post.date_modified }}" style="text-decoration: underline">
      {% if post.date_created != post.date_modified %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
    <td>{{ post.owner.name }}</td>
    <td>{{ post.content }}</td>
    {% if post.owner_id == current_user.id %}
    <td>
      <form method="POST" action="{{ url_for('posts_edit', post_id=post.id) }}">
        <input type="text" name="content" />
        <input type="submit" value="Save" />
      </form>
    </td>
    <td style="text-align: center">
      <form method="POST" action="{{ url_for('posts_remove', post_id=post.id) }}">
        <input type="submit" value="X" />
      </form>
    </td>
    {% else %}
    <td colspan="2" style="text-align: center">
        Posted by another user
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}