{% from "macros/post.html" import post_card_header with context %}

{% macro posts_feed(posts) %}
<div>
  {% for post in posts %}
  <div class="card mb-2">
    {{ post_card_header(
      post.post_id,
      post.date_created,
      post.poster_id,
      post.poster_name,
      post.wall_owner_id,
      post.wall_owner_name,
      **kwargs
    ) }}
    <!-- Post content -->
    <div class="card-body">
      <p class="card-text post-content">{{ post.content }}</p>
    </div>
    <!-- Modified X ago -->
    {% if post.date_modified != post.date_created %}
    <hr class="my-0">
    <div class="card-body pt-0 pb-2">
      <small class="card-text">
        Edited {{ timeago_format(post.date_modified) }}
      </small>
    </div>
    {% endif %}
    <div class="card-body text-center py-2">
      <hr class="mt-0 mb-2">
      <a href="{{ url_for('comments_conversation', id=post.post_id, **kwargs) }}">
        View conversation ({{ post.comment_count }})
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}