{% extends "layout.html" %}

{% block body %}
<div class="card mb-2">
  <form method="POST" action="{{ url_for('comments_edit', comment_id=comment_id, redir=redir, redir_id=redir_id, back=back, back_id=back_id) }}" novalidate>
    <label class="form-label card-header w-100" for="newContent">
      <h5>Edit comment
        <button type="submit" class="btn btn-primary float-sm-right">Edit</button>
      </h5>
    </label>
    <div class="card-body p-0">
      {{ form.content(class="form-control", 
                      rows=3, 
                      required="",
                      **{'aria-describedby': "contentHelp"}) }}
      <small id="contentHelp" class="form-text text-muted sr-only">
        Edited contents of your comment.
      </small>
    </div>
    {% if form.content.errors %}
    <div class="alert alert-danger mb-0 py-1" role="alert">
      {% for error in form.content.errors %}
      {{ error }}<br />
      {% endfor %}
    </div>
    {% endif %}
  </form>
</div>


{% endblock %}