{% extends "layout.html" %}
{% from "macros/feed.html" import posts_feed with context %}

{% block body %}
<div class="mb-3">
  <h1 class="mb-0">Feed</h1>
  <hr class="my-0">
  <small class="text-muted">All posts from your own wall and from all of your subscribed walls.</small>
</div>
{% if posts|count == 0 %}
<div>
  <p class="mb-1">
    This is your feed. Posts on your wall and users you've subscribed to will be visible here. It seems you have no
    posts at the time, but no worries, let's fix that! You have two options, either:
    <ol class="mb-2">
      <li>Click your name from the navigation bar and go ahead and create a new post</li>
      <li>Click <em>Find users</em> from the navigation bar and subscribe your friends to see their posts!</li>
    </ol>
  </p>
  <div class="text-center pt-3">
    <hr>
    <span class="text-muted">No posts :c</span>
    <hr>
  </div>
</div>
{% else %}
{{ posts_feed(posts, redir='user_feed', redir_id=current_user.id, back='user_feed', back_id=current_user.id) }}
<div>
  <div class="overlay" onclick="backToTop()">
    <span class="text-white">Back to top</span>
  </div>
  <div class="text-center">
    <hr>
    <span class="text-muted">No more posts :c</span>
    <hr>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var sizeTheOverlays = function () {
    $(".overlay").resize().each(function () {
      var h = $(this).parent().outerHeight();
      var w = $(this).parent().outerWidth();
      $(this).css("height", h);
      $(this).css("width", w);
    });
  };

  sizeTheOverlays();

  var width = $(window).width();
  $(window).resize(function () {
    if ($(this).width() != width) {
      width = $(this).width();
      sizeTheOverlays();
    }
  });

  function backToTop() {
    document.body.scrollTop = 0
    document.documentElement.scrollTop = 0
  }
</script>
{% endblock %}