{% extends "layout.html" %}
{% from "macros/feed.html" import posts_feed with context %}

{% block body %}
<div class="mb-3">
  <h1 class="mb-0">Feed</h1>
  <hr class="my-0">
  <small class="text-muted">All posts from your own wall and from all of your subscribed walls.</small>
</div>
{{ posts_feed(posts, redir='user_feed', redir_id=current_user.id, back='user_feed', back_id=current_user.id) }}
<div>
  {% if posts|count == limit %}
  {% set last = posts|last %}
  <a class="overlay text-white text-center" href="{{ url_for('user_feed', older_than=last.date_created ) }}">
    Load more
  </a>
  <div class="text-center">
    <hr>
    <span class="text-muted">Load more</span>
    <hr>
  </div>
  {% else %}
  <a class="overlay text-white text-center" href="{{ url_for('user_feed') }}">
    Back to top
  </a>
  <div class="text-center">
    <hr>
    <span class="text-muted">No more posts :c</span>
    <hr>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
  var sizeTheOverlays = function () {
    $(".overlay").resize().each(function () {
      var h = $(this).parent().outerHeight();
      var w = $(this).parent().outerWidth();
      $(this).css("height", h);
      $(this).css("width", w);
    });
  };

  sizeTheOverlays();

  var width = $(window).width();
  $(window).resize(function () {
    if ($(this).width() != width) {
      width = $(this).width();
      sizeTheOverlays();
    }
  });
</script>
{% endblock %}